.reviews {
  padding-top: 50px;

  @include vp-1199 {
    padding-top: 20px;
  }

  @include vp-767 {
    padding-top: 15px;
  }

  &__container {
    padding: 0 105px;
    padding-right: 0;

    @include vp-1199 {
      padding: 0 30px;
      padding-right: 0;
    }

    @include vp-767 {
      padding: 0;
    }
  }

  & .swiper-slide {
    height: auto;

    @include vp-767 {
      height: 100%;
    }
  }

  & .swiper-wrapper {
    @include vp-767 {
      height: 100%;
    }
  }

  &__slide {
    display: grid;
    grid-template-columns: 257px 1fr;
    padding: 20px;
    padding-right: 40px;
    gap: 30px;
    box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
    height: 100%;

    @include vp-1199 {
      grid-template-columns: 186px 1fr;
      padding-right: 25px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      padding-right: 20px;
      gap: 20px;
    }

    & img {
      @include vp-767 {
        width: 100%;
      }
    }
  }

  &__text-wrapper {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include vp-1199 {
      padding-top: 2px;
      padding-bottom: 4px;
      gap: 15px;
    }
  }

  &__swiper {
    padding: 15px;
  }

  & h2 {
    font-size: 35px;
    font-weight: 800;
    line-height: 35px;
    position: relative;
    margin: 0;
    display: flex;
    margin-left: 15px;
    margin-bottom: 13px;
    letter-spacing: -0.7px;
    width: 60%;

    @include vp-1199 {
      font-size: 25px;
      line-height: 25px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 22px;
      margin-left: 0;
      padding: 0 15px;
      margin-bottom: 17px;
    }

    & span {
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 55px;
      font-weight: 800;
      line-height: 55px;
      opacity: 0.03;

      @include vp-1199 {
        font-size: 40px;
        font-weight: 800;
        line-height: 40px;
      }

      @include vp-767 {
        font-size: 22px;
        font-weight: 800;
        line-height: 22px;
      }
    }
  }

  & h3 {
    font-size: 13px;
    font-weight: 700;
    line-height: 13px;
    margin: 0;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    gap: 6px;
    align-self: flex-start;
    margin-top: auto;

    @include vp-1199 {
      font-size: 12px;
      font-weight: 700;
      line-height: 12px;
    }

    @include vp-767 {
      margin-top: 6px;
      letter-spacing: 0.8px;
    }
  }

  & span {
    font-size: 12px;
    font-weight: 300;
    line-height: 100%;

    @include vp-767 {
      letter-spacing: 0.3px;
    }
  }

  &__buttons {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 4px;
    top: -13px;
    right: 120px;

    @include vp-1199 {
      bottom: -5px;
      right: 45px;
      top: -16px;
    }

    @include vp-767 {
      top: -10px;
      right: 15px;
    }
  }

  p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    letter-spacing: 0.9px;

    @include vp-1199 {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      margin: 0;
      margin-bottom: -5px;
    }

    @include vp-767 {
      margin-bottom: -5px;
      letter-spacing: 0.7px;
    }
  }
}
