.tours {
  color: $color-default-white;
  padding-top: 124px;

  @include vp-1199 {
    padding-top: 88px;
  }

  @include vp-767 {
    padding-top: 67px;
  }

  &__card {
    position: relative;
    // width: 31.67%;
    width: 100%;
    display: flex;
    flex-direction: column;
    // padding: 17.3% 1.7% 3%;
    padding: 54.5% 5.3% 7%;
    // padding-bottom: 2.4%;

    justify-content: flex-end;
    box-sizing: border-box;
    background-size: 100%;

    @include vp-1340 {
      padding-left: 1.2%;
      padding-right: 1.2%;
    }

    @include vp-1199 {
      padding: 20px;
      padding-top: 207px;
      // width: 48%;
      width: 100%;
      padding-bottom: 28px;
    }

    @include vp-767 {
      width: 100%;
      padding-top: 193px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 61.90%, rgba(0, 0, 0, 0.00) 100%);
      z-index: 1;
    }

    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: #3e6f3e;
      z-index: 0;
      top: 0;
      left: 0;

      @include vp-1199 {
        width: 100%;
        height: 100%;
      }
    }
  }

  & h2 {
    font-size: 35px;
    font-weight: 800;
    line-height: 35px;
    margin: 0;
    color: $color-elephant;
    margin-bottom: 52px;
    position: relative;

    @include vp-1199 {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 43px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 22px;
      width: 100%;
      margin-bottom: 27px;
    }

    & br {
      display: none;

      @include vp-767 {
        display: inline;
      }
    }

    & span {
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 55px;
      font-weight: 800;
      line-height: 55px;
      opacity: 0.03;

      @include vp-1199 {
        font-size: 40px;
        font-weight: 800;
        line-height: 40px;
      }

      @include vp-767 {
        font-size: 22px;
        font-weight: 800;
        line-height: 22px;
      }
    }
  }

  & h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 38px;
    position: relative;
    letter-spacing: 1.3px;
    max-width: 95%;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      width: 80px;
      height: 1px;
      background-color: $color-default-white;
      opacity: 0.2;
      bottom: -17px;
    }

    @include vp-1199 {
      margin-bottom: 38px;
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
    }

    @include vp-767 {
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      margin-bottom: 31px;
    }
  }

  &__options {
    margin: 0;
    padding: 0;
    margin-bottom: 23px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    align-items: start;
    z-index: 2;

    @include vp-1199 {
      margin-bottom: 23px;
      gap: 0;
    }

    @include vp-767 {
      display: flex;
      flex-wrap: wrap;
      row-gap: 11px;
      margin-bottom: 16px;
    }
  }

  &__options-item {
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    padding: 8px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px;
    padding-left: 10%;
    letter-spacing: 0.7px;
    padding-left: 3px;
    justify-content: end;
    letter-spacing: 1px;
    min-width: fit-content;

    & span {
      display: flex;
      flex-wrap: wrap;
      padding-left: 27px;
      // padding-left: 34%;
      position: relative;

      @include vp-767 {
        margin: 0 auto;
        padding-left: 22px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        align-self: center;

        @include vp-1340 {}

        @include vp-767 {}
      }
    }

    @include vp-767 {
      width: 36%;
    }

    &--location {
      background-color: $color-navy-blue;

      @include vp-767 {
        order: 1;
        padding: 8px 10px;
        width: 39%;
        min-width: fit-content;
        max-width: 100%;
      }

      & span {
        margin: 0 auto;
        padding-left: 22%;

        @include vp-1199 {
          padding-left: 16%;
        }

        @include vp-767 {
          padding-left: 13%;
        }

        &::before {
          background: url(../../img/svg/pin.svg) no-repeat center;
          left: 0;

          @include vp-1199 {
            left: -10%;
          }


          @include vp-767 {
            left: -10px;
          }
        }
      }
    }

    &--day {
      & ::before {
        left: -4px;
        background: url(../../img/svg/sun.svg) no-repeat center;

        @include vp-767 {
          left: -14px;
        }
      }
    }

    &--night {
      & ::before {
        left: 0;
        background: url(../../img/svg/moon.svg) no-repeat center;

        @include vp-767 {
          left: -9px;
        }
      }
    }
  }

  &__description {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
    gap: 10%;
    padding-right: 2%;

    @include vp-1340 {
      padding-right: 0;
    }

    @include vp-1199 {
      padding-right: 2%;
    }

    @include vp-1023 {
      padding-right: 0;
      gap: 4%;
    }

    @include vp-767 {
      padding-right: 2%;
    }
  }

  &__description-item {
    list-style: none;

    & img {
      position: relative;
      background-color: transparent;
      width: 100%;
      height: auto;
      z-index: 1;
    }

    & dl {
      margin: 0;
      display: flex;
      flex-direction: column;
      row-gap: 9px;

      @include vp-1199 {
        row-gap: 8px;
      }

      @include vp-767 {
        row-gap: 5px;
      }
    }

    & dd {
      margin: 0;
      font-size: 13px;
      font-weight: 700;
      line-height: 13px;

      @include vp-1199 {
        letter-spacing: -0.2px;
      }

      @include vp-767 {
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
      }

      & img {
        width: 79px;
        height: 13px;

        @include vp-767 {
          width: 73px;
          height: 12px;
        }
      }
    }

    & dt {
      font-size: 12px;
      font-weight: 300;
      line-height: 100%;
      letter-spacing: 0.6px;
    }
  }

  &__swiper {
    margin-bottom: 52px;

    @include vp-1199 {
      padding: 0 6px;
      margin-bottom: 50px;
    }

    @include vp-767 {
      padding: 0;
      margin-bottom: 29px;
    }
  }

  &__buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 4px;
  }

  &__view-all {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    @include vp-767 {
      font-size: 14px;
      font-weight: 700;
      line-height: 14px;
      letter-spacing: 0.56px;
      text-transform: uppercase;
    }
  }
}
